body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.feather-32{
  width: 32px;
  height: 32px;
  vertical-align: middle;
}

.largetext {
  font-size: 1.2rem;
}

/*
 * Footer
 */

.footer {
  background-color: #e1e1e1;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

/*
 * Sidebar
 */

.sidebar{ 
  position:fixed;
  height: 100%;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  padding: 1px;
}

.sidebar .feather .active{
  color: #0275d8;
}

.sidebar .nav-item:hover{
  background-color: #eaeaea;
 }

.sidebar .nav-link {
  font-weight: 500;
  color: #666;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #0275d8;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
 * Public home page
 */

#promo {
  background-image: linear-gradient( 109.6deg,  rgba(41,125,182,1) 3.6%, rgba(77,58,151,1) 51%, rgba(103,55,115,1) 92.9% );
}

.feather-large{
  width: 48px;
  height: 48px;
}

/*
 * Custom tabs
 */

.project-tab #tabs{
    background: #007b5e;
    color: #eee;
    border: 1px solid transparent;
}
.project-tab #tabs h6.section-title{
    color: #eee;
}
.project-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #0062cc;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 3px solid !important;
    font-size: 16px;
}
.project-tab .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #000000;
    font-size: 16px;
}
.project-tab .nav-link:hover {
   border: 1px solid transparent;
   color: #0062cc;
   font-size: 16px;
}
.project-tab a{
    text-decoration: none;
    color: #000000;
}

