{% extends 'user-base.html' %}
{% load static %}
{% block title %}
Add compute
{% endblock %}
{% block javascript %}
<script src="{% static 'js/compute.js' %}"></script>
{% endblock %}
{% block contentuser %}
<h2><a href="/compute"><i class="feather-32" data-feather="arrow-left"></i></a> Add compute</h2>
<br/>
<form method="post" action="{% url 'compute_add' %}">
  {% csrf_token %}
<div class="container">
  {% include 'compute-form.html' %}
  <button type="submit" class="btn btn-primary">Add</button>
  <a class="btn btn-outline-dark" href="/compute">Cancel</a>
</div>
</form>
<br/>
{% endblock %}
