{% extends 'base.html' %}

{% load socialaccount %}

{% block title %}
  Submit Globally, Run Globally
{% endblock %}
  
{% block content %}
      <section id="promo">
      <nav class="navbar navbar-dark">
         <a class="navbar-brand mb-0 h1" href="/">prominence</a>
      </nav>
         <div style="background:transparent !important" class="jumbotron align-items-center pt-5">
            <div class="container">
               <div class="row">
                  <div class="col">
                     <div class="display-4 text-center text-md-left text-light" style="font-weight:200">
                        High throughput and high performance computing without servers or clusters
                     </div>
                     <h4 class="text-center text-md-left text-light mb-6 mb-lg-8" style="font-weight:100">
                        Run containerised jobs across many clouds without managing infrastructure.
                     </h4>
		     <br/>
		  <h6>
		  <a class="btn btn-light nav-link w-25" href="{% provider_login_url 'egicheckin' %}">Login with EGI Check-in</a>
		  </h6>
                  </div>

               </div>
            </div>
         </div>
      </section>

      <div class="jumbotron">
      <h2 class="text-center">Overview</h2>
      <div class="container">
	      <div class="row justify-content-md-center">
	      <div class="col-sm-8">
      <h6 class="text-center">Prominence is a platform which allows users to exploit idle cloud resources for running scientific workloads with a simple batch system style interface.</h6>
      </div>
      </div>
      </div>
      </div>

      <br/>
      <br/>
      <br/>

      <div class="container">
         <div class="row">
		 <div class="col">
		 <h2 class="text-center">Features</h2>
		 </div>
	 </div>
	 <br/>
         <div class="row">
            <div class="col">
               <i class="feather-large" data-feather="user"></i>
               <p/>
               <h4 class="display-6 text-center text-md-left" style="font-weight:300">
                  Run jobs from anywhere
               </h4>
               <p class="text-muted">
                  Manage jobs using a web UI, a simple batch system style command line interface or interact programmatically using a RESTful API.
               </p>
            </div>
            <div class="col">
               <i class="feather-large" data-feather="codesandbox"></i>
               <p/>
               <h4 class="display-6 text-center text-md-left" style="font-weight:300">
                  Reliability & reproduceability
               </h4>
               <p class="text-muted">
                  All jobs are run in containers to ensure they will can run reliably anywhere and are reproducible.
               </p>
            </div>
            <div class="col">
               <i class="feather-large" data-feather="server"></i>
               <p/>
               <h4 class="display-6 text-center text-md-left" style="font-weight:300">
                  Invisible infrastructure
               </h4>
               <p class="text-muted">
                  All infrastructure provisioning is handled completely automatically and is totally invisible to the user.
               </p>
            </div>
         </div>
         <br/>
         <br/>
         <div class="row">
            <div class="col">
               <i class="feather-large" data-feather="grid"></i>
               <p/>
               <h4 class="display-6 text-center text-md-left" style="font-weight:300">
                  MPI ready
               </h4>
               <p class="text-muted">
                  Run multi-node Open MPI, Intel MPI or MPICH jobs in addition to single-node jobs.
               </p>
            </div>
            <div class="col">
               <i class="feather-large" data-feather="copy"></i>
               <p/>
               <h4 class="display-6 text-center text-md-left" style="font-weight:300">
                  Workflows
               </h4>
               <p class="text-muted">
                  Construct complex workflows by specifying the dependencies between different jobs.
               </p>
            </div>
            <div class="col">
               <i class="feather-large" data-feather="database"></i>
               <p/>
               <h4 class="display-6 text-center text-md-left" style="font-weight:300">
                  Data access
               </h4>
               <p class="text-muted">
		  Jobs can access data transparently from OneData, WebDAV or object storage.
               </p>
            </div>
         </div>
      </div>

      <br/>       
      <br/>       

  <footer class="footer">
    <div class="container">
      <span class="text-light">
        <a class="text-light" href="/terms-of-use">Terms of use</a> | <a class="text-light" href="/privacy-policy">Privacy policy</a>
      </span>     
    </div>     
  </footer>

                  
{% endblock %}
