{% extends 'user-base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}
Jobs
{% endblock %}
{% block javascript %}
<script src="{% static 'js/jobs.js' %}"></script>
<script src="{% static 'js/jquery.formset.js' %}"></script>
<script>
   $('.label-formset').formset({
     addText: '<span class="text-primary">Add label</span>',
     deleteText: '<span class="largetext">&times;</span>',
     prefix: 'fs1',
     formCssClass: 'dynamic-formset1'
   });
   $('.envvar-formset').formset({
     addText: '<span class="text-primary">Add environment variable</span>',
     deleteText: '<span class="largetext">&times;</span>',
     prefix: 'fs2',
     formCssClass: 'dynamic-formset2'
   });
   $('.artifact-formset').formset({
     addText: '<span class="text-primary">Add artifact</span>',
     deleteText: '<span class="largetext">&times;</span>',
     prefix: 'fs3',
     formCssClass: 'dynamic-formset3'
   });
   $('.input-formset').formset({
     addText: '<span class="text-primary">Add input file</span>',
     deleteText: '<span class="largetext">&times;</span>',
     prefix: 'fs4',
     formCssClass: 'dynamic-formset4'
   });
   $('.output-file-formset').formset({
     addText: '<span class="text-primary">Add output file</span>',
     deleteText: '<span class="largetext">&times;</span>',
     prefix: 'fs5',
     formCssClass: 'dynamic-formset5'
   });
   $('.output-dir-formset').formset({
     addText: '<span class="text-primary">Add output directory</span>',
     deleteText: '<span class="largetext">&times;</span>',
     prefix: 'fs6',
     formCssClass: 'dynamic-formset6'
   });
</script>
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
</script>
{% endblock %}
{% block contentuser %}
<h2><a href="/jobs"><i class="feather-32" data-feather="arrow-left"></i></a> Create job</h2>
<br/>
<form enctype="multipart/form-data" method="post" action="{% url 'job_create' %}">
   {% csrf_token %}
   <div class="d-flex">
   <div class="project-tab">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="nav nav-tabs">
                  <a class="nav-item nav-link active" data-toggle="tab" href="#metadata">Metadata</a>
                  <a class="nav-item nav-link" data-toggle="tab" href="#task">Task</a>
                  <a class="nav-item nav-link" data-toggle="tab" href="#resources">Resources</a>
                  <a class="nav-item nav-link" data-toggle="tab" href="#data">Data</a>
                  <a class="nav-item nav-link" data-toggle="tab" href="#policies">Policies</a>
                  <a class="nav-item nav-link" data-toggle="tab" href="#notifications">Notifications</a>
               </div>
               <div class="tab-content">
                  <div id="metadata" class="tab-pane fade show active">
                     <br/>
                     Assign a name and any arbitrary labels as key-value pairs.
                     <br/>
                     <br/>
		     <div class="container">
		     <div class="form-group row">
		     <div class="col-xs-4">
		     <b>Name</b><span class="text-secondary"> <span class="fa fa-question-circle" data-toggle="tooltip" title="Names must be less than 512 characters in length."></span>  (Optional)</span>
		     {{ form.name|add_class:"form-control form-control-sm" }}
		     </div>
		     </div>
		     <div class="form-group row">
		     <div class="col-xs-4">
		     <b>Labels</b><span class="text-secondary"> <span class="fa fa-question-circle" data-toggle="tooltip" title="Each key and value must be a string of less than 512 characters. Keys can only contain alphanumeric characters ([a-z0-9A-Z]) while values can also contain dashes (-), underscores (_), dots (.) and forward slashes (/)."></span> (Optional)</span>
                     {{ labels_formset.management_form }}
                     {% for label_form in labels_formset %}
                     <div class="label-formset">
                        {{ label_form.key }}
                        {{ label_form.value }}
                     </div>
                     {% endfor %}
                  </div>
		     </div>
		  </div>
		  </div>
                  <div id="task" class="tab-pane fade">
                     <br/>
		     A task defines the actual command to be executed and its environment.
		     <br/>
		     <br/>
		     <div class="container">
		     <div class="form-group row">
		     <div class="col-xs-4">
                     <b>Task type</b>
                     {{ form.task_type|add_class:"form-control form-control-sm" }}
		     </div>
		     </div>
		     <div class="form-group row">
		     <div class="col-xs-4">
		     <b>Container image</b> <span class="text-secondary"><span class="fa fa-question-circle" data-toggle="tooltip" title="Container images can be obtained from Docker Hub, Singularity Hub, or a tarball or Singularity Image Format file from a URL or mounted filesystem."></span></span>
                     {{ form.container_image|add_class:"form-control form-control-sm" }}
		     </div>
		     </div>
		     <div class="form-group row">
		     <div class="col-xs-4">
                     <b>Container runtime</b>
                     {{ form.container_runtime|add_class:"form-control form-control-sm" }}
		     </div>
		     </div>
		     <div class="form-group row">
		     <div class="col-xs-4">
                     <b>Command</b><span class="text-secondary"> (Optional)</span>
                     {{ form.command|add_class:"form-control form-control-sm" }}
		     </div>
		     </div>
		     <div class="form-group row">
		     <div class="col-xs-4">
		     <b>Work directory</b><span class="text-secondary"> <span class="fa fa-question-circle" data-toggle="tooltip" title="By default the current directory will be a scratch directory available to the job. Set the work directory if a specific alternative current directory is required"></span> (Optional)</span>
                     {{ form.workdir|add_class:"form-control form-control-sm" }}
		     </div>
		     </div>
		     <div class="form-group row">
		     <div class="col-xs-4">
                     <b>Environment variables</b><span class="text-secondary"> (Optional)</span>
                     {{ envvars_formset.management_form }}
                     {% for envvar_form in envvars_formset %}
                     <div class="envvar-formset">
                        {{ envvar_form.key }}
                        {{ envvar_form.value }}
                     </div>
                     {% endfor %}
		     </div>
		     </div>
                  </div>
                  </div>
                  <div id="resources" class="tab-pane fade">
                     <br/>
		     <div class="container">
                     <div class="form-group row">
                     <div class="col-xs-4">
                     <b>Number of nodes</b>
                     {{ form.nodes|add_class:"form-control form-control-sm" }}
                     </div>
                     </div>
                     <div class="form-group row">
                     <div class="col-xs-4">
                     <b>CPUs per node</b>
                     {{ form.cpus|add_class:"form-control form-control-sm" }}
                     </div>
                     </div>
                     <div class="form-group row">
                     <div class="col-xs-4">
		     <b>Memory per node</b> (GB)
                     {{ form.memory|add_class:"form-control form-control-sm" }}
                     </div>
                     </div>
                     <div class="form-group row">
                     <div class="col-xs-4">
                     <b>Disk</b> (GB)
                     {{ form.disk|add_class:"form-control form-control-sm" }}
                     </div>
                     </div>
                     <div class="form-group row">
                     <div class="col-xs-4">
                     <b>Maximum wall time</b> (hours)
                     {{ form.walltime|add_class:"form-control form-control-sm" }}
                     </div>
                     </div>
                  </div>
                  </div>
                  <div id="data" class="tab-pane fade">
                     <br/>
		     <b>Input files</b><span class="text-secondary"> <span class="fa fa-question-circle" data-toggle="tooltip" title="Files must be less than 512 KB in size"></span></span><br/>
                     Any small input files required by the job such as configuration files or scripts.
                     <br/>
                     <br/>
                     {{ inputs_formset.management_form }}
                     {% for input_form in inputs_formset %}
                     <div class="input-formset">
                        {{ input_form.input_file }}
                     </div>
                     {% endfor %}
                     <br/>
                     <br/>
		     <b>Artifacts</b><br/>
                     Additional input files which can be obtained from a URL or object storage.
                     <br/>
                     <br/>
                     {{ artifacts_formset.management_form }}
                     {% for artifact_form in artifacts_formset %}
                     <div class="artifact-formset">
                        {{ artifact_form.url.label_tag }}
                        {{ artifact_form.url }}
			&nbsp;
                        {{ artifact_form.executable.label_tag }}
                        {{ artifact_form.executable }}
			&nbsp;
			&nbsp;
                     </div>
                     {% endfor %}
		     <br/>
		     <br/>
                     <b>Output files</b><br/>
                     Output files to be uploaded to object storage.
                     <br/>
                     <br/>
                     {{ output_file_formset.management_form }}
                     {% for output_file_form in output_file_formset %}
                     <div class="output-file-formset">
                        {{ output_file_form.name.label_tag }}
                        {{ output_file_form.name }}
                     </div>
                     {% endfor %}
                     <br/>
                     <br/>
                     <b>Output directories</b><br/>
                     Output directories to be uploaded to object storage.
                     <br/>
                     <br/>
                     {{ output_dir_formset.management_form }}
                     {% for output_dir_form in output_dir_formset %}
                     <div class="output-dir-formset">
                        {{ output_dir_form.name.label_tag }}
                        {{ output_dir_form.name }}
                     </div>
                     {% endfor %}
                     <br/>
                     <br/>
		     <b>Storage</b><br/>
                     Optional storage to be automatically mounted and made available to jobs.
                     <br/>
                     <br/>
		     {% if storage %}
                     <table>
                       <tr>
                         <td>
		           <b>Name</b>
                        </td>
                        <td>
                          <b>Mount point</b>
                        </td>
                       </tr>
                       <tr>
                         <td>
                           {{ form.storage_name|add_class:"form-control form-control-sm" }}
                         </td>
                         <td>
                           {{ form.storage_mountpoint }}
                         </td>
                       </tr>
                     </table>
		     {% else %}
		     No storage systems defined.
		     {% endif %}
                  </div>
                  <div id="policies" class="tab-pane fade">
                     <br/>
                     Optional policies can influence the way failures are handled and how resources are placed.
                     <br/>
                     <br/>
                     <div class="container">
                     <div class="form-group row">
                     <div class="col-xs-4">
		     <b>Number of retries per job</b><span class="text-secondary"> <span class="fa fa-question-circle" data-toggle="tooltip" title="If a job fails it can be retried from scratch on new infrastructure"></span></span>
                     {{ form.policy_job_maxretries|add_class:"form-control form-control-sm" }}
                     </div>
                     </div>
                     <div class="form-group row">
                     <div class="col-xs-4">
		     <b>Number of retries per task</b><span class="text-secondary"> <span class="fa fa-question-circle" data-toggle="tooltip" title="If a task within a job fails it can be retried without deploying new infrastructure"></span></span>
                     {{ form.policy_task_maxretries|add_class:"form-control form-control-sm" }}
                     </div>
                     </div>
                     <div class="form-group row">
                     <div class="col-xs-4">
                     <b>Maximum time pending</b> (hrs)<span class="text-secondary"> <span class="fa fa-question-circle" data-toggle="tooltip" title="The job will be killed if it has not started running within this time. If set to zero the job will be killed immediately after the first failed attempt to deploy infrastructure for the job."></span></span>
                     {{ form.policy_job_max_time_pending|add_class:"form-control form-control-sm" }}
                     </div>
                     </div>
		     <div class="form-group row">
			     <div class="col-xs-4">
			     <b>Required sites</b><span class="text-secondary"> <span class="fa fa-question-circle" data-toggle="tooltip" title="Specify a custom list of site names to run the job. Use commas to separate multiple sites if necessary."></span></span>
                          {{ form.policy_sites|add_class:"form-control form-control-sm" }}
			                       </div>
					                            </div>
		  <div class="form-group row">
			  <div class="col-xs-4">
				  <b>Required regions</b><span class="text-secondary"> <span class="fa fa-question-circle" data-toggle="tooltip" title="Specify a custom list of regions to run the job. Use commas to separate multiple regions if necessary."></span></span>
				                            {{ form.policy_regions|add_class:"form-control form-control-sm" }}
							                                                   </div>
													                                                                       </div>
		     <div class="row">
		     <b>Queues</b>
		     </div>
		     <div class="form-group row">
                     <div class="col-xs-4">
                     {{ form.policy_leave_job_in_queue}}
                     Leave in job queue<span class="text-secondary"> <span class="fa fa-question-circle" data-toggle="tooltip" title="By default jobs in a terminal state disappear from the queue. Setting this option causes the job to remain in the queue until it is explicitly removed."></span></span>
                     </div>
                     </div>
		     </div>
		     </div>
		  <div id="notifications" class="tab-pane fade">
                     <br/>
                     Notifications can be sent for transitions between different job states.
                     <br/>
                     <br/>
		     <table>
			     <tr>
				     <td>
					     {{ form.notify_email_job_finished }}
				     </td>
				     <td>
					     Send emails when jobs finish
				     </td>
			     </tr>
		     </table>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   </div>
   <br/>
   <br/>
   <button type="submit" class="btn btn-primary">Create</button>
   <a class="btn btn-outline-dark" href="#" onclick="history.go(-1)">Cancel</a>
</form>
<br/>
{% endblock %}
