{% extends 'user-base.html' %}
  
{% load static %}

{% block title %}
Job {{ job.id }}: details
{% endblock %}

{% block javascript %}
{% endblock %}

{% block contentuser %}
<h2><a href="#" onclick="history.go(-1)"><i class="feather-32" data-feather="arrow-left"></i></a> Job {{ job.id }}: details</h2>

<div class="project-tab">
<div class="container">
<ul class="nav nav-tabs">
  <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#details">Details</a></li>
  <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#monitoring">Monitoring</a></li>
</ul>

<div class="tab-content">
  <div id="details" class="tab-pane fade show active">
  <br/>

<b>Name</b>
<br/>
{{ job.name }}

<br/>
<br/>
<b>Status</b>
<br/>
{{ job.status }}

{% if job.statusReason %}
<br/>
<br/>
<b>Status reason</b>
<br/>
{{ job.statusReason }}
{% endif %}

<br/>
<br/>
<b>Labels</b>
<br/>
{% for key, value in job.labels.items %}
{{ key }}: {{ value }}<br/>
{% empty %}
None<br/>
{% endfor %}

<br/>
<b>Resources</b>
<br/>
{{ job.resources.nodes }} nodes,
{{ job.resources.cpus }} CPUs,
{{ job.resources.memory }} GB memory,
{{ job.resources.disk }} GB disk

<br/>
<br/>
<b>Tasks</b>
<br/>
{% for task in job.tasks %}
<table>
  <tr><td>Container image:</td><td>{{ task.image }}</td></tr>
  <tr><td>Container runtime:</td><td>{{ task.runtime }}</td></tr>
  <tr><td>Command:</td><td>{{ task.cmd }}</td></tr>
</table>
{% endfor %}

<br/>
<b>Input files</b>
<br/>
{% for input in job.inputs %}
{{ input.filename }}
{% empty %}
None
{% endfor %}

<br/>
<br/>
<b>Artifacts</b>
<br/>
{% for artifact in job.artifacts %}
{{ artifact.url }} <br/>
{% empty %}
None <br/>
{% endfor %}

<br/>
<b>Storage</b>
<br/>
{% if job.storage %}
Type: {{ job.storage.type }}
<br/>
{% if job.storage.type == "onedata" %}
Provider: {{ job.storage.onedata.provider }}
{% else %}
URL: {{ job.storage.webdav.url }}
{% endif %}
{% else %}
None
{% endif %}

<br/>
<br/>
<b>Events</b>
<br/>
<table>
  <tr><td>Created:</td><td>{{ job.events.createTime }}</td></tr>
  <tr><td>Start time:</td><td>{{ job.events.startTime }}</td></tr>
  <tr><td>End time:</td><td>{{ job.events.endTime }}</td></tr>
</table>

<br/>
<b>Site</b>
<br/>
{% if job.execution.site %}
{{ job.execution.site }}
{% else %}
Not yet assigned
{% endif %}

  </div>
  <div id="monitoring" class="tab-pane fade">
  <br/>
  <h6>CPU UTILIZATION</h6>
  <h6>MEMORY UTILIZATION</h6>
  </div>
</div>
</div>
</div>

<br/>
<br/>

{% endblock %}
