{% extends 'user-base.html' %}
  
{% load static %}

{% block title %}
Job {{ job.id }}: details
{% endblock %}

{% block javascript %}
{% endblock %}

{% block contentuser %}
<h2><a href="https://prominence.cloud/jobs"><i class="feather-32" data-feather="arrow-left"></i></a>Job {{ job.id }}: details</h2>

<b>Status</b>
<br/>
{{ job.status }}

{% if job.statusReason %}
<br/>
<br/>
<b>Status reason</b>
<br/>
{{ job.statusReason }}
{% endif %}

<br/>
<br/>
<b>Name</b>
<br/>
{{ job.name }}

<br/>
<br/>
<b>Labels</b>
<br/>
{% for label in job.labels %}
{{ label }}: {{ job.labels.label }}
{% empty %}
None
{% endfor %}

<br/>
<br/>
<b>Resources</b>
<br/>
{{ job.resources.nodes }} nodes,
{{ job.resources.cpus }} CPUs,
{{ job.resources.memory }} GB memory,
{{ job.resources.disk }} GB disk

<br/>
<br/>
<b>Tasks</b>
<br/>
{% for task in job.tasks %}
Container image: {{ task.image }}<br/>
Container runtime: {{ task.runtime }}<br/>
Command: {{ task.cmd }}
<br/>
<br/>
{% endfor %}

<b>Artifacts</b>
<br/>
{% for artifact in job.artifacts %}
{{ artifact }} <br/>
{% empty %}
None
{% endfor %}

<br/>
<br/>
<b>Storage</b>
<br/>
{% if job.storage %}
Type: {{ job.storage.type }}
<br/>
{% if job.storage.type == "onedata" %}
Provider: {{ job.storage.onedata.provider }}
{% else %}
URL: {{ job.storage.webdav.url }}
{% endif %}
{% endif %}

<br/>
<br/>
<b>Events</b>
<br/>
Created: {{ job.events.createTime }}
<br/>
Start time: {{ job.events.startTime }}
<br/>
End time: {{ job.events.endTime }}

<br/>
<br/>
<b>Site</b>
<br/>
{% if job.execution.site %}
{{ job.execution.site }}
{% else %}
Not yet assigned
{% endif %}

{% endblock %}
