<form method="post" action="{% url 'jobs_delete' %}" class="js-job-delete-form">
  {% csrf_token %}
  <div class="modal-header">
    <h5 class="modal-title">Confirm job deletion</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
  {% if job %}
  Are you sure you want to delete job <strong>{{ job }}</strong>?
  <input type="hidden" name="ids[]" value="{{ job }}">
  {% else %}
  {% for id in jobs %}
  <input type="hidden" name="ids[]" value="{{ id }}">
  {% endfor %}
  Are you sure you want to delete the following jobs: {{ jobs_display }}?
  {% endif %}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-danger">Delete</button>
  </div>
</form>
