{% extends 'user-base.html' %}
{% load static %}
{% block title %}
Jobs
{% endblock %}
{% block javascript %}
<script src="{% static 'js/jobs.js' %}"></script>
<script src="{% static 'js/jquery.formset.js' %}"></script>
<script>
   $('.label-formset').formset({
     addText: '<span class="text-primary">Add label</span>',
     deleteText: '<span class="largetext">&times;</span>',
     prefix: 'fs1',
     formCssClass: 'dynamic-formset1'
   });
   $('.envvar-formset').formset({
     addText: '<span class="text-primary">Add environment variable</span>',
     deleteText: '<span class="largetext">&times;</span>',
     prefix: 'fs2',
     formCssClass: 'dynamic-formset2'
   });
   $('.artifact-formset').formset({
     addText: '<span class="text-primary">Add artifact</span>',
     deleteText: '<span class="largetext">&times;</span>',
     prefix: 'fs3',
     formCssClass: 'dynamic-formset3'
   });
   $('.input-formset').formset({
     addText: '<span class="text-primary">Add input file</span>',
     deleteText: '<span class="largetext">&times;</span>',
     prefix: 'fs4',
     formCssClass: 'dynamic-formset4'
   });
</script>
{% endblock %}
{% block contentuser %}
<h2><a href="https://prominence.cloud/jobs"><i class="feather-32" data-feather="arrow-left"></i></a> Create job</h2>
<br/>
<form enctype="multipart/form-data" method="post" action="{% url 'job_create' %}">
   {% csrf_token %}
   <div class="project-tab">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="nav nav-tabs">
                  <a class="nav-item nav-link active" data-toggle="tab" href="#metadata">Metadata</a>
                  <a class="nav-item nav-link" data-toggle="tab" href="#task">Task</a>
                  <a class="nav-item nav-link" data-toggle="tab" href="#resources">Resources</a>
                  <a class="nav-item nav-link" data-toggle="tab" href="#inputs">Input files</a>
                  <a class="nav-item nav-link" data-toggle="tab" href="#artifacts">Artifacts</a>
                  <a class="nav-item nav-link" data-toggle="tab" href="#storage">Storage</a>
                  <a class="nav-item nav-link" data-toggle="tab" href="#policies">Policies</a>
                  <a class="nav-item nav-link" data-toggle="tab" href="#notifications">Notifications</a>
               </div>
               <div class="tab-content">
                  <div id="metadata" class="tab-pane fade show active">
                     <br/>
                     Assign a name and any arbitrary labels as key-value pairs.
                     <br/>
                     <br/>
                     <b>Name</b><span class="text-secondary"> (Optional)</span><br/>
		     {{ form.name }}
		     <br/>
                     <br/>
                     <b>Labels</b><span class="text-secondary"> (Optional)</span><br/>
                     {{ labels_formset.management_form }}
                     {% for label_form in labels_formset %}
                     <div class="label-formset">
                        {{ label_form.key }}
                        {{ label_form.value }}
                     </div>
                     {% endfor %}
                  </div>
                  <div id="task" class="tab-pane fade">
                     <br/>
                     <b>Task type</b><br/>
                     {{ form.task_type }}
                     <br/><br/>
                     <b>Container image</b><br/>
                     {{ form.container_image }}
                     <br/><br/>
                     <b>Container runtime</b><br/>
                     {{ form.container_runtime }}
                     <br/><br/>
                     <b>Command</b><span class="text-secondary"> (Optional)</span><br/>
                     {{ form.command }}
                     <br/><br/>
                     <b>Work directory</b><span class="text-secondary"> (Optional)</span><br/>
                     {{ form.workdir }}
                     <br/><br/>
                     <b>Environment variables</b><span class="text-secondary"> (Optional)</span><br/>
                     {{ envvars_formset.management_form }}
                     {% for envvar_form in envvars_formset %}
                     <div class="envvar-formset">
                        {{ envvar_form.key }}
                        {{ envvar_form.value }}
                     </div>
                     {% endfor %}
                  </div>
                  <div id="resources" class="tab-pane fade">
                     <br/>
                     <b>Number of nodes</b><br/>
                      {{ form.nodes }}
                     <br/>
                     <br/>
                     <b>CPUs per node</b><br/>
                      {{ form.cpus }}</td>
                     <br/>
                     <br/>
                     <b>Memory per node (GB)</b><br/>
                      {{ form.memory }}
                     <br/>
                     <br/>
                     <b>Disk (GB)</b><br/>
                     {{ form.disk }}
                     <br/>
                     <br/>
                     <b>Wall time (hours)</b><br/>
                     {{ form.walltime }}</td>
                  </div>
                  <div id="inputs" class="tab-pane fade">
                     <br/>
                     Any small input files required by the job such as config files or scripts.
                     <br/>
                     <br/>
                     {{ inputs_formset.management_form }}
                     {% for input_form in inputs_formset %}
                     <div class="input-formset">
                        {{ input_form.input_file }}
                     </div>
                     {% endfor %}

                  </div>
                  <div id="artifacts" class="tab-pane fade">
                     <br/>
                     Additional input files which can be obtained from a URL or from object storage.
                     <br/>
                     <br/>
                     {{ artifacts_formset.management_form }}
                     {% for artifact_form in artifacts_formset %}
                     <div class="artifact-formset">
                        {{ artifact_form.url.label_tag }}
                        {{ artifact_form.url }}
			&nbsp;
                        {{ artifact_form.executable.label_tag }}
                        {{ artifact_form.executable }}
			&nbsp;
			&nbsp;
                     </div>
                     {% endfor %}
                  </div>
                  <div id="storage" class="tab-pane fade">
                     <br/>
                     Optional storage to be automatically mounted and made available to jobs.
                     <br/>
                     <br/>
                     <b>Name</b><br/>
                     {{ form.storage_name }}
                     <br/>
                     <br/>
                     <b>Mount point</b><br/>
                     {{ form.storage_mountpoint }}
                  </div>
                  <div id="policies" class="tab-pane fade">
                     <br/>
                     Policies can influence the way failures are handled and how resources are placed.
                     <br/>
                     <br/>
                     <b>Number of retries per task</b><br/>
                     {{ form.policy_task_maxretries }}
                  </div>
		  <div id="notifications" class="tab-pane fade">
                     <br/>
                     Send notifications for different job state events.
                     <br/>
                     <br/>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <br/>
   <br/>
   <button type="submit" class="btn btn-primary">Create</button>
</form>
<br/>
{% endblock %}
