{% for job in job_list %}
  <tr>
    <td class="align-middle">
      <a href="{% url 'job_describe' job.id %}">{{ job.id }}</a></td>
    <td class="align-middle">{{ job.name }}</td>
    <td class="align-middle">
      {% if job.status == "running" %}
      <i class="text-primary fa fa-repeat" aria-hidden="true"></i>
      {% elif job.status == "failed" %}
      <i class="text-danger fa fa-exclamation-circle" aria-hidden="true"></i>
      {% elif job.status == "deleted" %}
      <i class="text-secondary fa fa-minus-circle" aria-hidden="true"></i>
      {% elif job.status == "killed" %}
      <i class="text-warning fa fa-exclamation-circle" aria-hidden="true"></i>
      {% elif job.status == "pending" %}
      <i class="text-info fa fa-circle" aria-hidden="true"></i>
      {% elif job.status == "completed" %}
      <i class="text-success fa fa-check-circle" aria-hidden="true"></i>
      {% endif %}
      &nbsp;
      {% if job.status == "running" %}
      Running
      {% elif job.status == "failed" %}
      Failed
      {% elif job.status == "deleted" %}
      Deleted
      {% elif job.status == "killed" %}
      Killed
      {% elif job.status == "pending" %}
      Pending
      {% elif job.status == "completed" %}
      Completed
      {% endif %}
    </td>
    <td class="align-middle">{{ job.events.createTime }}</td>
    <td class="align-middle">
    {% if job.status != "pending" %}
      {{ job.elapsedTime }}
    {% endif %}
    </td>
    <td class="align-middle">{{ job.tasks.0.image }}</td>
    <td class="align-middle">{{ job.tasks.0.cmd }}</td>
    <td class="align-middle">
      <div class="dropleft">
	  <button class="btn btn-outline-secondary" type="button" id="dropdownMenuButtonJob{{ job.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border:none;">
	    <span data-feather="more-vertical"></span>
        </button>
	<div class="dropdown-menu" aria-labelledby="dropdownMenuButtonJob{{ job.id }}">
          <a class="dropdown-item" href="{% url 'job_logs' job.id %}">Logs</a>
	  <a class="dropdown-item" href="/">Remove from queue</a>
          <a class="dropdown-item js-delete-job" data-url="{% url 'job_delete' job.id %}">Delete</a>
        </div>
      </div>
    </td>
  </tr>
{% endfor %}
