{% extends 'user-base.html' %}

{% load static %}

{% block title %}
  Jobs
{% endblock %}

{% block javascript %}
  <script src="{% static 'js/jobs.js' %}"></script>
  <script src="{% static 'js/jquery.formset.js' %}"></script>
  <script>
       $('.label-formset').formset({
            addText: 'Add label',
	       deleteText: '<span data-feather="x"></span>'
       });
       $('.artifact-formset').formset({
            addText: 'add',
            deleteText: 'remove'
       });
  </script>
{% endblock %}

{% block contentuser %}
  <h2>Jobs</h2>

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
		  <a href="{% url 'job_create' %}" class="btn btn-primary">
      <span class="fa fa-plus"></span>
      Create job
		  </a>

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search/filter" aria-label="Search">
      <button class="btn btn-outline-dark my-2 my-sm-0" type="submit"><span data-feather="search"></span></button>
    </form>

  </div>

  <table class="table table-striped" id="jobs-table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Status</th>
        <th>Created</th>
        <th>Elapsed</th>
        <th>Image</th>
        <th>Command</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% include 'jobs-list.html' %}
    </tbody>
  </table>
  
  <div class="modal fade" id="modal-jobs">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
  </div>

{% endblock %}
