{% for job in job_list %}
  <tr>
    <td class="align-middle"><a href="{% url 'job_describe' job.id %}">{{ job.id }}</a></td>
    <td class="align-middle">{{ job.name }}</td>
    <td class="align-middle">
      {% if job.status == "running" %}
        <span class="badge badge-success">Running</span>
      {% elif job.status == "failed" %}
      <span class="badge badge-danger" data-toggle="tooltip" title="{{ job.statusReason }}">Failed</span>
      {% elif job.status == "deleted" %}
        <span class="badge badge-secondary">Deleted</span>
      {% elif job.status == "killed" %}
      <span class="badge badge-danger" data-toggle="tooltip" title="{{ job.statusReason }}">Killed</span>
      {% elif job.status == "pending" %}
      <span class="badge badge-info" data-toggle="tooltip" title="{{ job.statusReason }}">Pending</span>
      {% elif job.status == "completed" %}
        <span class="badge badge-light">Completed</span>
      {% endif %}
    </td>
    <td class="align-middle">{{ job.events.createTime }}</td>
    <td class="align-middle">
    {% if job.status != "pending" %}
      {{ job.elapsedTime }}
    {% endif %}
    </td>
    {% for task in job.tasks %}
    <td class="align-middle">{{ task.image }}</td>
    <td class="align-middle">{{ task.cmd }}</td>
    {% endfor %}
    <td class="align-middle">
      <div class="dropdown">
	  <button class="btn btn-outline-secondary" type="button" id="dropdownMenuButtonJob{{ job.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border:none;">
	    <span data-feather="more-vertical"></span>
        </button>
	<div class="dropdown-menu" aria-labelledby="dropdownMenuButtonJob{{ job.id }}">
          <a class="dropdown-item js-delete-job" data-url="{% url 'job_delete' job.id %}">Delete</a>
          <a class="dropdown-item" href="{% url 'job_logs' job.id %}">Logs</a>
        </div>
      </div>
    </td>
  </tr>
{% empty %}
  <tr>
    <td colspan="8" class="text-center font-italic">No jobs</td>
  </tr>
{% endfor %}
