{% for job in job_list %}
  <tr>
    <td>{{ job.id }}</td>
    <td>{{ job.name }}</td>
    <td>
      {% if job.status == "running" %}
        <span class="badge badge-success">Running</span>
      {% elif job.status == "failed" %}
        <span class="badge badge-danger">Failed</span>
      {% elif job.status == "deleted" %}
        <span class="badge badge-warning">Deleted</span>
      {% elif job.status == "pending" %}
        <span class="badge badge-info">Pending</span>
      {% elif job.status == "completed" %}
        <span class="badge badge-dark">Completed</span>
      {% endif %}
    </td>
    <td>{{ job.events.createTime }}</td>
    <td>
    {% if job.status != "pending" %}
      {{ job.elapsedTime }}
    {% endif %}
    </td>
    {% for task in job.tasks %}
    <td>{{ task.image }}</td>
    <td>{{ task.cmd }}</td>
    {% endfor %}
    <td style="width: 200px">
      <button type="button"
              class="btn btn-primary btn-sm js-describe-job"
	      data-url="{% url 'job_describe' job.id %}">
      <span class="fa fa-info"></span>
      </button>
      <button type="button"
              class="btn btn-danger btn-sm js-delete-job"
	      data-url="{% url 'job_delete' job.id %}">
        <span class="fa fa-trash"></span>
      </button>
    </td>
  </tr>
{% empty %}
  <tr>
    <td colspan="7" class="text-center">No jobs</td>
  </tr>
{% endfor %}
