<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
<div class="modal fade" id="logout" tabindex="-1" role="dialog" aria-labelledby="signOutLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="signOutLabel">Sign out</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      Are you sure you want to sign out?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Logout</button>
      </div>
    </div>
  </div>
</div>
</form>
