<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
 <div class="sticky-top">
  <ul class="nav flex-column">
   <li class="nav-item">
    <a class="nav-link {% if request.resolver_match.view_name == 'index' %}active{% endif %}" href="/">
     <span data-feather="home"></span>
     Home
    </a>
   </li>
   <li class="nav-item">
    <a class="nav-link {% if request.resolver_match.view_name == 'jobs' or request.resolver_match.view_name == 'job_describe' or request.resolver_match.view_name == 'job_create' or request.resolver_match.view_name == 'job_logs' %}active{% endif %}" href="/jobs">
     <span data-feather="square"></span>
     Jobs
    </a>
   </li>
   <li class="nav-item">
    <a class="nav-link {% if request.resolver_match.view_name == 'workflows' %}active{% endif %}" href="/workflows">
     <span data-feather="grid"></span>
     Workflows
    </a>
   </li>
   <li class="nav-item">
	   <a class="nav-link {% if request.resolver_match.view_name == 'compute' %}active{% endif %}" href="/compute">
     <span data-feather="cloud"></span>
     Compute
    </a>
   </li>   
   <li class="nav-item">
    <a class="nav-link {% if request.resolver_match.view_name == 'storage' %}active{% endif %}" href="/storage">
     <span data-feather="database"></span>
     Storage
    </a>
   </li>
   <li class="nav-item">
    <a class="nav-link" href="https://prominence.readthedocs.io/en/latest/" target="_blank">
     <span data-feather="book-open"></span>
     Documentation
    </a>
   </li>
  </ul>
 </div>
</nav>
