<form method="post" action="{% url 'storage_add' %}" class="js-storage-add-form">
  {% csrf_token %}
  <div class="modal-header">
    <h5 class="modal-title">Add a new storage system</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {% include 'storage_form.html' %}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">Add</button>
  </div>
</form>
