{% extends 'user-base.html' %}

{% load static %}

{% block title %}
  Storage
{% endblock %}

{% block javascript %}
  <script src="{% static 'js/storage.js' %}"></script>
<script>
$(document).ready(function() {
        $('#storage-table').DataTable({
order: [[0, 'asc']],
"columnDefs": [
    { "orderable": false, "targets": [3] },
  ],    
"language": {
      "emptyTable": "No storage systems"
    },  
"bPaginate": true,
    "bLengthChange": false,
    "bFilter": false,
    "bInfo": true,
    "bAutoWidth": false
        });
} );
</script>
{% endblock %}

{% block contentuser %}

  <h2 style="display: inline">Storage</h2>
  &nbsp; &nbsp; &nbsp; &nbsp;
  <h6 style="display: inline"> <a href="{% url 'storage_add' %}">
                  <span class="fa fa-plus"></span>
     ADD STORAGE
          </a></h6>

	  <br/>
	  <br/>

  <table class="table table-striped" id="storage-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Hostname</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% include 'storage-list.html' %}
    </tbody>
  </table>

  <div class="modal fade" id="modal-storage">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
  </div>

{% endblock %}
