{% extends 'user-base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}
Add storage
{% endblock %}
{% block javascript %}
<script>
$('.username').hide();
$('.password').hide();
$('select[name="storage_type"]').on('change',function(){
   var selectedVal=$(this).val();
   switch(selectedVal){
       case '1':
                   $('.token').hide();
                   $('.username').show();
                   $('.password').show();
             break;
       case '2':
                   $('.username').hide();
                   $('.password').hide();
                   $('.token').show();
             break;
       default:
                   $('.token').show();
                   $('.username').hide();
                   $('.password').hide();
             break;
   }
});
</script>
{% endblock %}
{% block contentuser %}
<h2><a href="/storage"><i class="feather-32" data-feather="arrow-left"></i></a> Add storage</h2>
<br/>
<form method="post" action="{% url 'storage_add' %}">
  {% csrf_token %}
<div class="container">
  <div class="form-group row type">
    <div class="col-lg-4">
    <b>Name</b>
    {{ form.name|add_class:"form-control form-control-sm" }}
    </div>
  </div>
  <div class="form-group row">
    <div class="col-lg-4">
    <b>Type</b>
    {{ form.storage_type|add_class:"form-control form-control-sm" }}
    </div>
  </div>
  <div class="form-group row hostname">
    <div class="col-lg-4">
    <b>Hostname</b>
    {{ form.hostname|add_class:"form-control form-control-sm" }}
    </div>
  </div>
  <div class="form-group row username">
    <div class="col-lg-4">
    <b>Username</b>
    {{ form.username|add_class:"form-control form-control-sm" }}
    </div>
  </div>
  <div class="form-group row password">
    <div class="col-lg-4">
    <b>Password</b>
    {{ form.password|add_class:"form-control form-control-sm" }}
    </div>
  </div>
  <div class="form-group row token">
    <div class="col-lg-4">
    <b>Token</b>
    {{ form.token|add_class:"form-control form-control-sm" }}
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Add</button>
  <a class="btn btn-outline-dark" href="/storage">Cancel</a>
</div>
</form>
<br/>
{% endblock %}
