{% extends 'user-base.html' %}

{% load static %}

{% block title %}
  Workflows
{% endblock %}

{% block javascript %}
  <script src="{% static 'js/workflows.js' %}"></script>
<script>
$('input[type=radio]').on('change', function() {
    $(this).closest("form").submit();
});

$(document).ready(function() {
    var workflowstable = $('#workflows-table').DataTable({
        order: [
            [0, 'asc']
        ],
        "select": {
            "style":    "multi",
            "selector": "td:first-child"
        },
        "columnDefs": [{
                "orderable": false,
                "targets": [5, 6, 7]
            },
            {
                "className": "select-checkbox",
                "targets": 0,
                "defaultContent": "",
                "orderable": false,
                "data": null
            },
            {
                "targets": 1,
                "data": "id",
                "render": function(data, type, row, meta) {
                    return '<a href="' + data + '">' + data + '</a>';
                }
            },
            {
                "targets": 3,
                "data": "status",
                "render": function(data, type, row, meta) {
                    var statuses = {
                        running: '<i class="text-primary fa fa-repeat" aria-hidden="true"></i><br/>Running',
                        pending: '<i class="text-info fa fa-circle" aria-hidden="true"></i><br/>Pending',
                        failed: '<i class="text-danger fa fa-exclamation-circle" aria-hidden="true"></i><br/>Failed',
                        killed: '<i class="text-warning fa fa-exclamation-circle" aria-hidden="true"></i><br/>Killed',
			deleted: '<i class="text-secondary fa fa-minus-circle" aria-hidden="true"></i><br/>Deleted',
                        completed: '<i class="text-success fa fa-check-circle" aria-hidden="true"></i><br/>Completed'
                    };
                    return statuses[data] || '<i class="text-danger fa fa-question-circle" aria-hidden="true"></i><br/>Unknown';
                }
            },
            {
                "targets": 6,
                "data": "progress",
                "render": function(data, type, row, meta) {
                    return '<div class="progress data-toggle="tooltip" title="done: ' + data['done'] + ', failed: ' + data['failed'] + ', total: ' + data['total'] + '"> <div class="progress-bar bg-success" role="progressbar" style="width: '+data['donePercentage']+'%" aria-valuenow="'+data['done']+'" aria-valuemin="0" aria-valuemax="'+data['total']+'"></div><div class="progress-bar bg-danger" role="progressbar" style="width: '+data['failedPercentage']+'%" aria-valuenow="'+data['failed']+'" aria-valuemin="0" aria-valuemax="'+data['total']+'"></div></div></div>';
                }
            },
            {
                "targets": 7,
                "data": "id",
                "render": function(data, type, row, meta) {
                    var url1 = "{% url 'jobs' %}";
                    var url2 = "{% url 'workflow_delete' 12345 %}".replace(/12345/, data.toString());
			return '<div class="dropleft"><button class="btn btn-outline-secondary" type="button" id="dropdownMenuButtonWorkflow' + data + '" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border:none;"> <i class="fa fa-ellipsis-v" aria-hidden="true"></i> </button> <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonWorkflow' + data + '"> <a class="dropdown-item" href="' + url1 + '?workflow_id=' + data + '&completed=true&active=true">Show jobs</a><button class="dropdown-item" type="submit" name="rerun" value="' + data + '">Re-run failed jobs</button><a class="dropdown-item js-delete-workflow" data-url="' + url2 + '">Delete</a></div>';
                }
            }
        ],
        "ajax": {
            "url": "/workflows/",
            "data": {
                "json": 0,
                "state": "{{ state }}",
                "fq": "{{ search }}",
                "limit": 10
            }
        },
        "columns": [
            {
                "data": null
            },
            {
                "data": "id"
            },
            {
                "data": "name"
            },
            {
                "data": "status"
            },
            {
                "data": "createTime"
            },
            {
                "data": "elapsedTime"
            },
            {
                "data": "progress"
            },
            {
                "data": "id"
            }
        ],
        "language": {
            "emptyTable": "No workflows"
        },
        "bPaginate": true,
        "bLengthChange": false,
        "bFilter": false,
        "bInfo": true,
        "bAutoWidth": false
    });

    setInterval(function() {
        workflowstable.ajax.reload();
    }, 30000);

   // Check all
   $('#checkall').click(function(){
       if ($(this).is( ":checked" )) {
           workflowstable.rows().select();
       } else {
           workflowstable.rows().deselect();
       }
   });

  var loadFormWorkflows = function () {
    var rows = workflowstable.rows( { selected: true } ).indexes();
    var ids_selected = workflowstable.cells(rows, 1).data().toArray();
    var btn = $(this);
    $.ajax({
      url: btn.attr("data-url"),
      data: {
         "ids": ids_selected
      },
      type: 'get',
      dataType: 'json',
      beforeSend: function () {
        $("#modal-workflows .modal-content").html("");
        $("#modal-workflows").modal("show");
      },
      success: function (data) {
        $("#modal-workflows .modal-content").html(data.html_form);
      }
    });
    };

   $("#delete-workflows").on("click", loadFormWorkflows);

});

//workflowstable.ajax.draw();
</script>
{% endblock %}

{% block contentuser %}
  <h2 style="display: inline">Workflows</h2>

<div class="d-flex">

          <div class="ml-auto p-2">
                  <form class="form-inline" method="GET" action="/workflows">
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-outline-dark">
          <input type="radio" name="state" id="option1" value="active" {{ state_selectors.active }}> Active
  </label>
  <label class="btn btn-outline-dark">
          <input type="radio" name="state" id="option2" value="completed" {{ state_selectors.completed }}> Completed
  </label>
  <label class="btn btn-outline-dark">
          <input type="radio" name="state" id="option3" value="all" {{ state_selectors.all }}> All
  </label>
</div>
          </div>

<div class="p-2">
                          <input class="form-control" type="search" name="fq" placeholder="&#xF002; Filter workflows" style="font-family:Arial, FontAwesome" aria-label="Search" value={{ search }}>
    </form>
</div>

<div class="p-2">
<button id="delete-workflows" class="btn btn-danger js-delete-workflow" data-url="{% url 'workflows_delete' %}" data-toggle="modal" data-target="#modal-workflows">Delete</button>
</div>

  </div>

  <form method="POST" action="/workflows/actions/">
  {% csrf_token %}
  <table class="table table-striped" id="workflows-table">
    <thead>
      <tr>
        <th><input type="checkbox" class="checkall" id="checkall"></th>
        <th>Id</th>
        <th>Name</th>
        <th>Status</th>
        <th>Created</th>
        <th>Elapsed</th>
        <th>Progress</th>
        <th>Actions</th>
      </tr>
    </thead>
  </table>
  </form>

  <div class="modal fade" id="modal-workflows">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
  </div>

{% endblock %}
