{% extends 'user-base.html' %}

{% load static %}

{% block title %}
  Workflows
{% endblock %}

{% block javascript %}
  <script src="{% static 'js/workflows.js' %}"></script>
{% endblock %}

{% block contentuser %}
  <h2>Workflows</h2>

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <button type="button" class="btn btn-primary js-create_workflow">
      <span data-feather="plus"></span>
      New workflow
    </button>

      <div class="dropdown">
          <button class="btn btn-outline-dark" type="button" id="dropdownMenuButtonWorkflow" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Show
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonWorkflow">
          <a class="dropdown-item" href="/workflows">Show active workflows</a>
          <a class="dropdown-item" href="/workflows?completed=true&active=false&num=1">Show last completed workflow</a>
          <a class="dropdown-item" href="/workflows?completed=true&active=false&num=10">Show last 10 completed workflows</a>
        </div>
      </div>

    <form class="form-inline">
      <input class="form-control" type="search" placeholder="Search/filter" aria-label="Search">
      <button class="btn btn-outline-dark" type="submit"><span data-feather="search"></span></button>
    </form>

  </div>

  <table class="table table-striped" id="workflows-table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Status</th>
        <th>Created</th>
        <th>Elapsed</th>
        <th>Progress</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% include 'workflow-list.html' %}
    </tbody>
  </table>

  <div class="modal fade" id="modal-workflows">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
  </div>

{% endblock %}
