{% extends 'user-base.html' %}
  
{% load static %}

{% block title %}
Workflow {{ workflow.id }}: details
{% endblock %}

{% block javascript %}
{% endblock %}

{% block contentuser %}
<h2><a href="https://prominence.cloud/workflows"><i class="feather-32" data-feather="arrow-left"></i></a>Workflow {{ workflow.id }}: details</h2>


<b>Name</b>
<br/>
{{ workflow.name }}

<br/>
<br/>
<b>Status</b>
<br/>
{{ workflow.status }}

{% if workflow.statusReason %}
<br/>
<br/>
<b>Status reason</b>
<br/>
{{ workflow.statusReason }}
{% endif %}

<br/>
<br/>
<b>Jobs progress</b>
<table>
	<tr>
		<td>Total:</td><td>{{ workflow.progress.total }}</td>
	</tr>
	<tr>
		<td>Done:</td><td>{{ workflow.progress.done }}</td>
	</tr>
	<tr>
		<td>Failed:</td><td>{{ workflow.progress.failed }}</td>
	</tr>
	<tr>
		<td>Queued:</td><td>{{ workflow.progress.queued }}</td>
	</tr>
	<tr>
		<td>Waiting:</td><td>{{ workflow.progress.waiting }}</td>
	</tr>
</table>

<br/>
<b>Labels</b>
<br/>
{% for label in workflow.labels %}
{{ label }}: {{ workflow.labels.label }}
{% empty %}
None
{% endfor %}

<br/>
<br/>
<b>Events</b>
<br/>
<table>
  <tr><td>Created:</td><td>{{ workflow.events.createTime }}</td></tr>
  <tr><td>Start time:</td><td>{{ workflow.events.startTime }}</td></tr>
  <tr><td>End time:</td><td>{{ workflow.events.endTime }}</td></tr>
</table>

<br/>
<br/>

{% endblock %}
