{% for workflow in workflow_list %}
  <tr>
    <td class="align-middle">
      {% if workflow.status == "running" %}
      <i class="text-primary fa fa-repeat" aria-hidden="true"></i>
      {% elif workflow.status == "failed" %}
      <i class="text-danger fa fa-exclamation-circle" aria-hidden="true"></i>
      {% elif workflow.status == "deleted" %}
      <i class="text-info fa fa-minus-circle" aria-hidden="true"></i>
      {% elif workflow.warning == "killed" %}
      <i class="text-warning fa fa-exclamation-circle" aria-hidden="true"></i>
      {% elif workflow.status == "pending" %}
      <i class="text-secondary fa fa-circle" aria-hidden="true"></i>
      {% elif workflow.status == "completed" %}
      <i class="text-success fa fa-check-circle" aria-hidden="true"></i>
      {% endif %}
</td>
    <td class="align-middle"><a href="{% url 'workflow_describe' workflow.id %}">{{ workflow.id }}</a></td>
    <td class="align-middle">{{ workflow.name }}</td>
    <td class="align-middle">
      {% if workflow.status == "running" %}
      Running
      {% elif workflow.status == "failed" %}
      Failed
      {% elif workflow.status == "deleted" %}
      Deleted
      {% elif workflow.status == "killed" %}
      Killed
      {% elif workflow.status == "pending" %}
      Pending
      {% elif workflow.status == "completed" %}
      Completed
      {% endif %}
    </td>
    <td class="align-middle">{{ workflow.events.createTime }}</td>
    <td class="align-middle">
    {% if workflow.status != "pending" %}
      {{ workflow.elapsedTime }}
    {% endif %}
    </td>
    <td class="align-middle">
	    <div class="progress data-toggle="tooltip" title="done: {{ workflow.progress.done }}, failed: {{ workflow.progress.failed }}, total: {{ workflow.progress.total }}">
		    <div class="progress-bar bg-success" role="progressbar" style="width:{{ workflow.progress.donePercentage }}%" aria-valuenow="{{ workflow.progress.done }}" aria-valuemin="0" aria-valuemax="{{ workflow.progress.total }}"></div>
		    <div class="progress-bar bg-danger" role="progressbar" style="width:{{ workflow.progress.failedPercentage }}%" aria-valuenow="{{ workflow.progress.failed }}" aria-valuemin="0" aria-valuemax="{{ workflow.progress.total }}"></div>
	    </div>
    </td>
    <td class="align-middle">
      <div class="dropleft">
	  <button class="btn btn-outline-secondary" type="button" id="dropdownMenuButtonWorkflow{{ workflow.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border:none;">
	    <span data-feather="more-vertical"></span>
        </button>
	<div class="dropdown-menu" aria-labelledby="dropdownMenuButtonWorkflow{{ workflow.id }}">
	  <a class="dropdown-item" href="{% url 'jobs' %}?workflow_id={{ workflow.id }}&completed=true&active=true">Show jobs</a>
	  <a class="dropdown-item" href="%">Remove from queue</a>
          <a class="dropdown-item js-delete-workflow" data-url="{% url 'workflow_delete' workflow.id %}">Delete</a>
        </div>
      </div>
    </td>
  </tr>
{% empty %}
  <tr>
    <td colspan="8" class="text-center font-italic">No workflows</td>
  </tr>
{% endfor %}
